.nav {
  @include flex(space-between, center);
  position: sticky;
  top: 0;
  padding: 1.5rem 2rem;
  padding-left: 3rem;
  background-color: $black;
  color: $white;
  text-transform: capitalize;
  &__logo {
    font-size: 2rem;
  }
  &__list {
    @include flex;
    gap: 2rem;
  }
  .list {
    @include flex(flex-start, center, row);
    &__item {
      font-size: 1.8rem;
      cursor: pointer;

      transition: {
        property: color;
        duration: 0.3s;
        timing-function: ease-in-out;
      }
      &:hover {
        color: $yellow;
      }
    }
  }
}
