.products {
  padding: 2rem 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
  @media screen and (max-width: 52em) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media screen and (max-width: 25em) {
    grid-template-columns: 1fr;
  }
}
